* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: #a3bb98;
}

.container {
  /* background-color: #fff; */
  margin: 64px auto;
  position: relative;
  width: 1465px;
  /* height: calc(100vh - 128px); */
  height: auto;
  justify-content: center;
}

.items_list {
  /* background: #000; */
  display: grid;
  padding-top: 50px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.item {
  background: rgb(251, 194, 82);
  background: linear-gradient(140deg, rgba(251, 194, 82, 1) 0%, rgba(250, 175, 6, 1) 50%);
  width: 170px;
  height: 160px;
  border-radius: 10px;
  transition: transform 0.2s;
  text-align: center;
  overflow-wrap: break-word;
}
.item:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.item h3 {
  color: #f0eccf;
  font-size: 96px;
  margin-bottom: -15px;
}

.item_text_normal {
  color: #f0eccf;
  font-size: 26px;
}

.item_text_small {
  color: #f0eccf;
  font-size: 16px;
}

.bought_items_list {
  /* background: red; */
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.bought_item {
  background: #5f5a4f;
}
.history_text {
  margin: 100px 0 15px 0;
  font-size: 28px;
  color: #f0eccf;
  font-weight: 900;
}

.sort_button {
  position: absolute;
  right: 0;
  top: -20px;
}

.sort_button select {
  color: #ffffff;
  background: linear-gradient(-180deg, rgba(251, 194, 82, 1) 0%, rgba(250, 175, 6, 1) 100%);
  padding: 10px 15px;
  font-size: 22px;
  font-weight: normal;
  border-radius: 15px;
}
.sort_button select:hover {
  cursor: pointer;
}

.sort_button option {
  color: #000000;
  padding: 5px 15px;
  font-size: 18px;
}

.search_container {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}

.search_form {
  display: flex;
  align-items: center;
}

.search_icon {
  /* background: #fff; */
  height: 40px;
  border-radius: 10px 0 0 10px;
  position: absolute;
  margin: 8px 0 0 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}
.search_input {
  font-size: 32px;
  margin: 0 9px;
  padding: 5px 0 5px 40px;
  border: none;
  border-radius: 10px;
  color: #555555;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.search_button {
  font-size: 64px;
  color: #d9d9d9;
  background: linear-gradient(-180deg, rgba(251, 194, 82, 1) 0%, rgba(250, 175, 6, 1) 100%);
  border: none;
  width: 58px;
  height: 58px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: transform 0.2s;
}
.search_button:hover {
  cursor: pointer;
  transform: scale(1.05);
}
