:root {
  --clr-primary: #606c38;
  --clr-primary-gradient: linear-gradient(120deg, rgba(143, 154, 107, 1) 38%, rgba(96, 108, 56, 1) 100%);
  --clr-secondary: #fefae0;
  --clr-secondary-gradient: linear-gradient(120deg, rgba(254, 250, 224, 1) 58%, rgba(212, 235, 136, 1) 100%);
  --clr-tertiary: linear-gradient(120deg, rgba(108, 95, 91, 1) 38%, rgba(79, 74, 69, 1) 100%);
  --clr-action: #dda15e;
  --clr-action-gradient-btn: linear-gradient(180deg, rgba(221, 161, 94, 1) 28%, rgb(185, 124, 53) 100%);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background: var(--clr-primary-gradient);
  height: 100vh;
}

.container {
  margin: 64px auto;
  position: relative;
  width: 1465px;
  height: auto;
  justify-content: center;
}

.items_list {
  display: grid;
  padding-top: 50px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  place-items: center;
}

.item {
  background: var(--clr-secondary-gradient);
  width: 170px;
  height: 160px;
  border-radius: 10px;
  transition: transform 0.2s;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-wrap: break-word;
  padding: 2px;
  line-height: 1;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
}
.item:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.item h3 {
  color: var(--clr-text);
  font-size: 96px;
}
.item_emoji {
  scale: 0.75;
}

.item_text_normal {
  color: var(--clr-text);
  font-size: 26px;
}

.item_text_small {
  color: var(--clr-text);
  font-size: 18px;
}

.bought_items_list {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  place-items: center;
}

.bought_item {
  background: var(--clr-tertiary);
}
.bought_item h3,
.bought_item p {
  color: var(--clr-secondary);
}
.history_text {
  margin: 100px 0 15px 0;
  font-size: 32px;
  color: var(--clr-secondary);
  font-weight: 900;
}

.sort_button {
  position: absolute;
  right: 0;
  top: -20px;
}

.sort_button select {
  background: var(--clr-action-gradient-btn);
  color: var(--clr-secondary);
  padding: 8px 10px;
  font-size: 18px;
  border-radius: 15px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
}
.sort_button select:hover {
  cursor: pointer;
}

.sort_button option {
  color: #000000;
  background-color: var(--clr-secondary);
  padding: 5px 15px;
  font-size: 18px;
}

.search_container {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}

.search_form {
  display: flex;
  align-items: center;
}

.search_icon {
  height: 40px;
  border-radius: 10px 0 0 10px;
  position: absolute;
  margin: 8px 0 0 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}
.search_input {
  font-size: 32px;
  margin: 0 9px;
  padding: 5px 0 5px 40px;
  border: 2px solid var(--clr-primary);
  border-radius: 10px;
  color: #555555;
  background-color: var(--clr-secondary);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.search_button {
  font-size: 64px;
  color: var(--clr-secondary);
  background: var(--clr-action-gradient-btn);
  border: none;
  width: 58px;
  height: 58px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 8px 10px 25px -3px rgba(0, 0, 0, 0.1);

  transition: transform 0.2s;
}
.search_button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

/* Responsive */
@media (max-width: 1500px) {
  .container {
    width: 90vw;
  }

  .items_list,
  .bought_items_list {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    grid-column-gap: 3px;
  }
}

@media (max-width: 768px) {
  .items_list,
  .bought_items_list {
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  }

  .item {
    width: 130px;
    height: 120px;
  }

  .item h3 {
    font-size: 64px;
  }

  .item_text_normal {
    font-size: 22px;
  }

  .item_text_small {
    font-size: 16px;
    margin-top: -5px;
  }

  .search_input {
    font-size: 32px;
    width: 380px;
    margin: 0 9px;
    padding: 5px 0 5px 40px;
    border: 2px solid var(--clr-primary);
    border-radius: 10px;
    color: #555555;
    background-color: var(--clr-secondary);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .search_button {
    font-size: 48px;
    width: 48px;
    height: 48px;
  }
}

@media (max-width: 486px) {
  .items_list,
  .bought_items_list {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-column-gap: 0px;
    grid-row-gap: 10px;
  }

  .item {
    width: 100px;
    height: 90px;
  }

  .item h3 {
    font-size: 48px;
  }

  .item_text_normal {
    font-size: 18px;
  }

  .item_text_small {
    font-size: 14px;
  }

  .search_input {
    font-size: 24px;
    width: 280px;
  }
}

/* Scrollbar */

/* Webkit-based browsers*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-secondary);
  border-radius: 10px;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--clr-secondary) #dda25e00;
}
